body {
    background-image: url("./img/backgrounds/landing.jpg");
    overflow: hidden;
}

#home img {
    position: absolute;
    top: 4vh;
    left: 4vh;
    width: 260px;
    height: auto;
}

h1 {
    text-align: center;
    color: #584B86;
    font-size: 65px;
    margin: 0;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

.welcome p {
    font-size: 30px;
    color: #584B86;
    margin-top: 20px;
    text-align: center;
}

.input-group {
    margin: 0;
    margin-top: 30px;
    padding: 10px;
}

.search-input,
.search-btn,
button {
    padding: 20px 34px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'Questrial';
    background-color: #584B86;
    color: #DCC0A9;
    cursor: pointer;
}

.search-input {
    font-family: 'Questrial';
    background-color: rgba(255, 255, 255, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 350px;
    cursor: text;
}

.search-btn {
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-input {
    background-color: rgba(255, 255, 255, 0.5);
    color: #584B86;
}

#find-location {
    margin-top: 20px;
    height: 55px;
}

footer {
    position: fixed;
    color: #A78BAF;
}

footer a {
    color: rgb(249, 238, 207);
}

/* For small screens */
@media only screen and (max-width: 680px) {
    #home img {
        width: 180px;
    }

    .search-input {
        width: 200px;
    }

    #find-location {
        height: 40px;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .welcome p {
        font-size: 20px;
    }

    footer {
        font-size: 14px;
        padding: 10px;
    }
}

/* For medium screens */
@media only screen and (min-width: 681px) and (max-width: 1074px) {
    #home img {
        width: 220px;
    }

    .search-input {
        width: 300px;
    }

    #find-location {
        height: 40px;
        margin: 0;
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .welcome p {
        font-size: 25px;
    }

    footer {
        padding: 15px;
        font-size: 18px;
    }
}

/* For large screens */
@media only screen and (min-width: 1075px) {
    #home img {
        width: 260px;
    }

    .search-input {
        width: 500px;
    }

    #find-location {
        height: 55px;
    }

    h1 {
        font-size: 65px;
        text-align: center;
    }

    .welcome p {
        font-size: 30px;
    }

    footer {
        padding: 20px;
        font-size: 20px;
    }
}