* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Questrial';
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 34px;
}

.user-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3.5vh;
}

#home img {
    position: absolute;
    top: 4vh;
    left: 4vh;
    width: 260px;
    height: auto;
}

h1,
h2 {
    font-family: 'Agrandir';
    font-weight: bolder;
    text-align: left;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 60px;
    margin-top: 45px;
    margin-left: 4vh;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-left: 25px;
}

.search-input,
.search-btn,
button {
    padding: 20px 30px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Questrial';
    cursor: pointer;
}

.search-input {
    font-family: 'Questrial';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    cursor: text;
}

.search-btn {
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input:focus {
    outline: none;
}

#find-location {
    padding: 5px 6px;
    width: 240px;
    height: 61px;
    font-size: 15px;
    letter-spacing: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    bottom: 4vh;
    right: 4vh;
    margin: 10px;
    text-align: right;
}

/* For small screens */
@media only screen and (max-width: 680px) {
    #home img {
        width: 180px;
    }

    header {
        justify-content: center;
        padding: 4vh;
    }
    
    .search-input {
        width: 200px;
    }

    #find-location {
        height: 40px;
        margin-top: 14px;
    }

    .user-search {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 12vh;
    }

    .input-group {
        margin-left: 0px;
    }

    footer {
        font-size: 14px;
        padding: 10px;
    }
}

/* For medium screens */
@media only screen and (min-width: 681px) and (max-width: 1074px) {
    #home img {
        width: 220px;
    }

    .search-input {
        width: 200px;
    }

    #find-location {
        height: 40px;
        margin: 0;
        margin-left: auto;
        margin-top: 14px;
    }

    .user-search {
        flex-direction: column-reverse;
        justify-content: center;
        margin-right: 2vh;
    }

    .input-group {
        margin-left: 0px;
    }

    footer {
        padding: 15px;
        font-size: 18px;
    }
}

/* For large screens */
@media only screen and (min-width: 1075px) {
    #home img {
        width: 260px;
    }

    footer {
        padding: 20px;
        font-size: 20px;
    }
}