body {
    background-image: url("./img/backgrounds/dashboard.jpg");
}

.search-input,
.search-btn,
button {
    color: #DCC0A9;
    background-color: #423E53;
}

.search-input {
    color: #423E53;
    background-color: rgba(255, 255, 255, 0.5);
}

.intro p {
    font-family: 'Questrial';
    color: rgba(255, 255, 255, 0.75);
    font-size: 30px;
    margin-top: 15px;
    margin-left: 4vh;
}

.dashboard {
    display: flex;
}

.info {
    padding: 4vh;
    margin-top: 50px;
}

h2 {
    text-align: center;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.75);
    margin: 0;
}

.details {
    margin-top: 10px;
    padding: 40px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.19);
    border: none;
    border-radius: 20px;
}

.details img {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

.details p {
    font-family: 'Questrial';
    color: rgba(255, 255, 255, 0.75);
    font-size: 22px;
}

.sun {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.sunrise,
.sunset,
.solar-noon,
.day-length {
    text-align: center;
    padding: 22px;
}

footer {
    bottom: -240px;
    color: #423E53;
    position: absolute;
    padding-bottom: 4vh
}

footer a {
    color: rgba(255, 255, 255, 0.75);
}

/* For small screens */
@media only screen and (max-width: 680px) {
    .dashboard {
        flex-direction: column;
    }

    .intro p {
        font-size: 25px;
        margin-right: 4vh;
    }

    .info p {
        margin-bottom: 5px;
    }

    h1, h2 {
        font-size: 35px;
    }

    footer {
        color: #DCC0A9;
        bottom: 0;
        position: relative;
    }
}

/* For medium screens */
@media only screen and (min-width: 681px) and (max-width: 1074px) {
    .dashboard {
        flex-direction: column;
    }

    .intro p {
        font-size: 25px;
        margin-right: 4vh;
    }

    footer {
        color: #DCC0A9;
        bottom: 0;
        position: relative;
    }
}